html {
   background-color:black;
   color: white;
   font-family: 'arial';
   font-weight: 'bold';
}

#marker {
  position: absolute;
  top: 500px;
  background-color: red;
}

#rejects {
   float: right;
   min-width: 300px;
}

li {
font-size: 10px;
}

table {
   border: 1px solid white;
}
